<html>
<head>
<style>
body {background-color: powderblue;}
p  {
  color: red;
  font-family: courier;
  font-size: 190%;
}
h5 {
  border: 2px solid red;
  padding: 5px;
	width: 865px;
}
h3 {
  border: 2px solid red;
  padding: 5px;
	width: 865px;
  color: green;
}
</style>
</head>
<body>
<center>
<h5><p>ERROR</p></h5>
<h3>No estas Loggeado necesitas Loggearte para ir a tu Perfil.</h3>
<h3>Logeate <a href="/login">Aqui</a>.</h3>
<%- include('./bloques/footers/footererr') %>
</center>


</body>
</html>
