
<html>
<head>
<style>
body {background-color: powderblue;}
p  {
  color: blue;
  font-family: courier;
  font-size: 190%;
}
h5 {
  border: 2px solid blue;
  padding: 5px;
	width: 865px;
}
</style>
</head>
<body>
<center>
<h5><p>INICIO</p></h5>
<%- include('./bloques/footers/footerin') %>
</center>
</body>
</html>
