<style>
h4 {
  border: 2px solid yellow;
  padding: 5px;
	width: 865px;
}
</style>
<h4><a href="/">Inicio</a> | <a href="/discord">Server Discord</a> | <a href="https://github.com/Whoisadri2/Discord-Oauth2-Passport">GitHub</a></h4>
