<style>
h4 {
  border: 2px solid yellow;
  padding: 5px;
	width: 865px;
}
.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button1 {
  background-color: lightblue; 
  color: black; 
  border: 2px solid #ff0000;
}
.button1:hover {
  background-color: #ff0000;
  color: white;
}
.button2 {
  background-color: lightblue; 
  color: black; 
  border: 2px solid #008CBA;
}
.button2:hover {
  background-color: #008CBA;
  color: white;
}
.button3 {
  background-color: lightblue; 
  color: black; 
  border: 2px solid #ffbf00;
}
.button3:hover {
  background-color: #ffbf00;
  color: white;
}
</style>
<h4><a href="/"><button2 class="button button1">Inicio</button2></a><a href="/discord"><button2 class="button button2">Discord</button2></a><a href="https://github.com/Whoisadri2/Discord-Oauth2-Passport"><button2 class="button button3">GitHub</button2></a></h4><style>
h4 {
  border: 2px solid yellow;
  padding: 5px;
	width: 865px;
}
.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button1 {
  background-color: lightblue; 
  color: black; 
  border: 2px solid #ff0000;
}
.button1:hover {
  background-color: #ff0000;
  color: white;
}
.button2 {
  background-color: lightblue; 
  color: black; 
  border: 2px solid #008CBA;
}
.button2:hover {
  background-color: #008CBA;
  color: white;
}
.button3 {
  background-color: lightblue; 
  color: black; 
  border: 2px solid #ffbf00;
}
.button3:hover {
  background-color: #ffbf00;
  color: white;
}
</style>
<h4><a href="/"><button2 class="button button1">Inicio</button2></a><a href="/discord"><button2 class="button button2">Discord</button2></a><a href="https://github.com/Whoisadri2/Discord-Oauth2-Passport"><button2 class="button button3">GitHub</button2></a></h4>
