  <head>
    <title>Inicio</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>
<style>
p6  {
  color: DarkRed;
  font-family: courier;
  font-size: 0.000001%;
}
h5 {
  border: 10px solid DarkRed;
	background-position: left;
	background-color: DarkRed;
  padding: 0px;
	height: 83px;
	width: 1916px;
}
.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button1 {
  background-image: DarkRed; 
  color: Yellow; 
  border: 2px solid DarkRed;
}
.button1:hover {
  background-color: #4CAF50;
  color: black;
}
.button2 {
  background-color: DarkRed;
	position: right;
  color: DarkBlue; 
  border: 2px solid DarkRed;
}
.button2:hover {
  background-color: #008CBA;
  color: black;
}
.button3 {
  background-color: DarkRed; 
  color: DarkOrange; 
  border: 2px solid DarkRed;
}
.button3:hover {
  background-color: #ffbf00;
  color: black;
}
</style>
<h5><p6>------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p6><a href="/perfil"><button2 class="button button1">Perfil</button2><a href="/discord"><button2 class="button button2">Discord</button2></a><a href="https://github.com/Admin9712/Discord-Oauth2-Passport"><button2 class="button button3">GitHub</button2></a><a href="/perfil"><img class="d-inline-block align-middle 	rounded-circle" width="64" height="64" src="https://cdn.discordapp.com/avatars/<%= d.id %>/<%= d.avatar %>"></a></h5>
