<style>
h4 {
  border: 2px solid yellow;
  padding: 5px;
	width: 865px;
}
</style>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h4><a href="/login">Login</a>, <a href="/discord">Server Discord</a>, <a href="https://github.com/Whoisadri2/Discord-Oauth2-Passport">GitHub</a></h4>